@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  /* overflow-y: hidden; */
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
td,
input {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilo para o "pulso" (a parte deslizável da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: white; /* Cor do "pulso" */
  border-radius: 5px; /* Borda arredondada */
}

/* Estilo para a área de rolagem da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5); /* Cor da área de rolagem */
}
